<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @film.text %>
</p>


<h2>Comments</h2>
<% @film.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
